*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

:root {
    --prjct-tsk-background-clr: #364f53;
    --background-clr: #182425;
    --main-font-clr: #ffffff;
    --popup-bg-clr: #0c1213;
    --project-task-hover: #2e3335;
    --btn-font-clr: white;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-clr);
    align-items: center;
    /* position: relative; */
    /* margin-top: 50px; */
    height: 100vh;
}

#container {
    min-height: 70%;
    width: 100%;
}

.projects,
.tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding: 20px 40px 20px 40px;
    background-color: var(--prjct-tsk-background-clr);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: scroll;
}
/* .projects {
    flex-direction: column;
} */

.projects {
    max-height: 45%;
    margin-bottom: 20px;
}

.projects > .project {
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    padding: 10px 20px 10px 20px;
    width: 300px;
    color: var(--main-font-clr);
    background-color: var(--popup-bg-clr);
    border-radius: 6px;
    cursor: pointer;
}

.project::after {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    transition: width 400ms;
    background: white;
}
.project.active::after {
    width: 85%;
}

.tasks > .task {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    background-color: var(--popup-bg-clr);
    color: var(--main-font-clr);
    border: solid 4px var(--background-clr);
    transition: 500ms;
}

.task.active {
    opacity: .6;
}

.tasks > .task .details-btn,
.task-details > .close-button,
.submit,
.edit-submit,
.tasks > .task .delete-button,
.tasks > .task .edit-button,
.inner > .edit-task,
.inner > .add-task {
    border: none;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    border-radius: 7px;
    background-color: var(--prjct-tsk-background-clr);
    color: white;
    cursor: pointer;
}

.tasks > .task .delete-button {
    background: hsl(0, 100%, 60%);
    /* border: solid 2px var(--prjct-tsk-background-clr); */
    transition: all 250ms;
}

/* .tasks > .task .delete-button:hover {
    background: none;
    color: hsl(0, 83%, 72%);
    border: solid 2px hsl(0, 83%, 72%);
} */

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    gap: 10px;
}

.task-details {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    max-width: 60%;
    padding: 20px;
    background-color: var(--popup);
    border-radius: 8px;
    transform: scale(0);
}

.task-details > h3 {
    margin: 10px 0 10px 0;
}

.task-details.active {
    position: fixed;
    /* width: 40%;
    height: 60%; */
    background-color: var(--popup-bg-clr);
    color: var(--main-font-clr);
    transform: scale(1);
}

.task-details > .close-button {
    width: 64px;
}

.modal {
    position: fixed;
    transform: scale(0);
    top: 15%;
    background-color: var(--popup-bg-clr);
    border-radius: 8px;
    transition: transform 250ms;
    z-index: 10;
}

.modal.active {
    transform: scale(1);
}

.modal .icon {
    position: absolute;
    margin-top: 8px;
    margin-right: 8px;
    top: 0;
    right: 0;
}

.icon {
    width: 20px;
    cursor: pointer;
    filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(206deg) brightness(106%) contrast(107%);
}


.task-form {
    padding: 35px 35px;
    font-weight: bold;
}

.task-form .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.inner > #priority,
.inner > #project,
.inner > #date,
.inner > input,
.inner > textarea {
    width: 100%;
    background: none;
    color: white;
    border-radius: 5px;
    border: none;
    border-bottom: solid 1px var(--main-font-clr);
    padding: 5px 0 0 5px;
}

.inner > textarea {
    border: solid 1px var(--main-font-clr);
}

.task-form input::placeholder,
.task-form textarea::placeholder {
    font-weight: bold;
}

.task-form textarea {
    resize: none;
    height: 100px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.create,
.add-task,
.create-task {
    border: none;
    background-color: var(--prjct-tsk-background-clr);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
    width: 135px;
    font-weight: bold;
    box-shadow: 0px 0px 0px white;
    transition: box-shadow 500ms;
    color: var(--btn-font-clr);
}

.create:hover,
.create-task:hover {
    box-shadow: 23px 0px 0px white;
    color: var(--project-task-hover);
    cursor: pointer;

}

#title.invalid {
    border: solid 3px red;
}