*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --prjct-tsk-background-clr: #d5eaec;
    --background-clr: #2e3335;
    --main-font-clr: #1b1e1f;
    --project-task-hover: #2e3335;

}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-clr);
    align-items: center;
    position: relative;
    margin-top: 25px;
    height: 100vh;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    min-height: 70%;
}

.projects,
.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--prjct-tsk-background-clr);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 300px;
    /* height: 30%; */
    overflow: scroll;
}

.projects {
    max-height: 45%;
    margin-bottom: 20px;
}

.projects > .project {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--main-font-clr);
    background-color: white;
    border-radius: 8px;
}

.tasks > .task {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 7px;
    background-color: white;
    color: var(--main-font-clr);
    border: solid 4px var(--background-clr);
}

.tasks > .task .details-btn {
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 7px;
    background-color: var(--prjct-tsk-background-clr);
}

.task-details {
    position: fixed;
    top: 30%;
    width: 60%;
    height: 30%;
    background-color: white;
    transform: scale(0);
}

.task-details.active {
    position: fixed;
    top: 30%;
    width: 60%;
    height: 30%;
    background-color: white;
    transform: scale(1);
}

.project.active {
    border: solid 4px var(--background-clr)
}

.modal {
    position: fixed;
    transform: scale(0);
    top: 30%;
    width: 50%;
    height: 50%;
    background-color: white;
    /* transition: transform 250ms; */
    z-index: 10;
}

.modal.active {
    transform: scale(1);
}

.task-form {
    padding: 25px 25px;
}

.task-form .inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.create,
.add-task {
    border: none;
    background-color: var(--prjct-tsk-background-clr);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 0px 0px white;
    transition: box-shadow 500ms;
}

.create:hover,
.add-task:hover {
    box-shadow: 23px 0px 0px white;
    color: var(--project-task-hover);
    cursor: pointer;

}